
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 52 43% 84%;
    --foreground: 25 58% 15%;
    --card: 52 43% 89%;
    --card-foreground: 25 58% 15%;
    --popover: 52 43% 89%;
    --popover-foreground: 25 58% 15%;
    --primary: 43 74% 49%;
    --primary-foreground: 43 74% 10%;
    --secondary: 52 20% 70%;
    --secondary-foreground: 43 74% 49%;
    --muted: 52 20% 75%;
    --muted-foreground: 25 58% 30%;
    --accent: 25 58% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 52 20% 70%;
    --input: 52 20% 78%;
    --ring: 43 74% 49%;
  }
  .dark {
    --background: 24 20% 8%;
    --foreground: 52 43% 84%;
    --card: 24 20% 12%;
    --card-foreground: 52 43% 84%;
    --popover: 24 20% 12%;
    --popover-foreground: 52 43% 84%;
    --primary: 43 74% 49%;
    --primary-foreground: 43 74% 10%;
    --secondary: 24 20% 20%;
    --secondary-foreground: 52 43% 84%;
    --muted: 24 20% 20%;
    --muted-foreground: 52 43% 70%;
    --accent: 25 58% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 20% 20%;
    --input: 24 20% 20%;
    --ring: 43 74% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Home Page Animations */
@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

/* Govt Schemes Card Styles */
.scheme-card {
  position: relative;
  background: transparent;
  width: 300px;
  height: 300px;
  border: none;
}

.scheme-card:hover {
  width: 300px;
}

.scheme-card .container-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(var(--card));
  width: 190px;
  height: 190px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px hsla(var(--foreground) / 0.2), 2px 2px 3px hsla(var(--foreground) / 0.4), inset 2px 2px 2px #ffffff40;
  transition: all .3s ease-in-out, opacity .3s;
  transition-delay: .6s, 0s;
}

.scheme-card:hover .container-image {
  opacity: 0;
  border-radius: 8px;
  transition-delay: 0s, .6s;
}

.scheme-card .container-image .image-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-_50%, -50%);
  width: 125px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px hsla(var(--foreground) / 0.5));
  transition: all .3s ease-in-out;
  transition-delay: .4s;
}

.scheme-card:hover .container-image .image-circle {
  opacity: 0;
  transition-delay: 0s;
}

.scheme-card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(var(--card));
  padding: 20px;
  width: 190px;
  height: 190px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px hsla(var(--foreground) / 0.2), 2px 2px 3px hsla(var(--foreground) / 0.4), inset 2px 2px 2px #ffffff40;
  visibility: hidden;
  transition: .3s ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}

.scheme-card:hover .content {
  width: 290px;
  height: 190px;
  visibility: visible;
  transition-delay: .5s;
}

.scheme-card .content .detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .3s ease-in-out;
  transition-delay: 0s;
}

.scheme-card:hover .content .detail {
  color: hsl(var(--card-foreground));
  opacity: 100%;
  transition: 1s;
  transition-delay: .3s;
}

.scheme-card .content .detail span {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 800;
}

.scheme-card .content .detail p {
  font-size: 14px;
  height: 60px; /* 3-4 lines approx */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.scheme-card .content .detail button {
  background: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
  margin-top: auto;
  width: 90px;
  height: 30px;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.scheme-card .content .detail button:hover {
  filter: brightness(1.2);
}

.scheme-card .content .product-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.scheme-card .content .product-image .box-image {
  display: flex;
  position: absolute;
  top: 0;
  left: -25%;
  width: 100%;
  height: 115%;
  opacity: 0;
  transform: scale(.5);
  transition: all .5s ease-in-out;
  transition-delay: 0s;
}

.scheme-card:hover .content .product-image .box-image {
  top: -25%;
  left: 0;
  opacity: 100%;
  transform: scale(1);
  transition-delay: .3s;
}

.scheme-card .content .product-image .box-image .img-product {
  margin: auto;
  width: 7rem;
  height: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* From Uiverse.io by cssbuttons-io */ 
.c-button {
  color: hsl(var(--foreground));
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: hsl(var(--primary));
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid hsl(var(--primary));
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: hsl(var(--primary));
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: hsl(var(--background));
}

.dark .c-button--gooey:hover {
  color: hsl(var(--foreground));
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}

/* Feature Card styles */
.feature-card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.feature-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.feature-card:hover .feature-card-inner {
  transform: rotateY(180deg);
}

.feature-card-front,
.feature-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  background-color: hsl(var(--card) / 0.5);
  border: 2px solid hsl(var(--foreground) / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--foreground));
}

.feature-card-front {
  transform: rotateY(0deg);
  overflow: hidden; /* This will ensure the image respects the border radius */
}

.feature-card-back {
  transform: rotateY(180deg);
  padding: 20px;
  font-size: 16px;
  text-align: center;
  flex-direction: column;
}

.dark .feature-card-front,
.dark .feature-card-back {
  background-color: hsl(var(--card) / 0.2);
  border: 2px solid hsl(var(--foreground) / 0.3);
}

/* From Uiverse.io by KhelVers - Adapted for crop-yield page */
.farm-data-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.farm-data-form-container .rays {
  z-index: 2;
  position: relative;
  bottom: -1.5em;
  animation: rays 2s ease-in-out infinite;
}

.farm-data-form {
  position: relative;
  top: 0;
  padding: 4%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  border-radius: 0.5rem;
  border: 4px solid #fff;
  background: rgba(144, 238, 144, 0.52); /* lightgreen with opacity */
  box-shadow: 0px 0px 64px 0px #90ee90 inset, 0px 0px 16px #adffad; /* lightgreen glow */
  backdrop-filter: blur(3.5px);
  gap: 1em;
  animation: float 2s ease-in-out infinite;
}

.farm-data-form .form-label {
  text-align: center;
  color: #8B0000; /* DarkRed */
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-shadow: 0px 0px 16px rgb(20, 20, 20);
}

.farm-data-form .form-content {
  height: 3em;
  padding: 1px 8px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 6px;
  border: 2px solid #fff;
  background: rgba(173, 255, 173, 0.486); /* lighter green */
  box-shadow: 0px 0px 1px 3px #b4eeb4 inset, 0px 4px 4px 0px #18601a40; /* light green glow */
}

.farm-data-form label {
  color: black !important;
  font-weight: bold;
}

.farm-data-form .form-content:focus-visible {
  outline: none;
  text-decoration: none;
  background: rgba(144, 238, 144, 0.59); /* lightgreen */
  box-shadow: 0px 0px 1px 4px #b4eeb4; /* lighter green glow */
}

.farm-data-form .form-content:hover {
  background: rgba(144, 238, 144, 0.59); /* lightgreen */
}

.farm-data-form ::placeholder {
  font-weight: 300;
  color: #8B0000; /* DarkRed */
  letter-spacing: 0.1rem;
}

.farm-data-form button {
  cursor: pointer;
  height: 3.5rem;
  padding: 0%;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.3rem;
  border: 2px solid white;
  background: linear-gradient(144deg, #d2b48c, #cd853f 50%, #f4a460); /* Tan, Peru, SandyBrown */
}

.farm-data-form button:hover {
  position: relative;
  bottom: 4px;
  background: linear-gradient(144deg, #d2b48c, #cd853f 50%, #f4a460); /* Same as above for consistency */
  box-shadow: 0px 0px 2px 2px #ffffff;
}

@keyframes float {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

@keyframes rays {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
   background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}

/* From Uiverse.io by Gaurav-WebDev */ 
.button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  box-shadow: .5px .5px 150px #252525;
}

.type1::after {
  content: "Know Your Area";
  height: 50px;
  width: 150px;
  background-color: #008080;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "Click Here ";
  height: 50px;
  width: 150px;
  background-color: #fff;
  color: #008080;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

/* Jumping Dots Loader */
.jumping-dots-loader {
  --uib-size: 60px;
  --uib-color: hsl(var(--foreground));
  --uib-speed: 1.5s;
  --uib-dot-size: calc(var(--uib-size) * 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(var(--uib-size) * 0.64);
  width: calc(var(--uib-size) * 0.64);
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(120%);
  }

  50% {
    transform: translateY(-120%);
  }
}

.jumping-dots-loader .dot {
  --uib-d1: -0.48;
  --uib-d2: -0.4;
  --uib-d3: -0.32;
  --uib-d4: -0.24;
  --uib-d5: -0.16;
  --uib-d6: -0.08;
  --uib-d7: -0;
  position: absolute;
  bottom: calc(var(--uib-bottom) + var(--uib-dot-size) / 2);
  right: calc(var(--uib-right) + var(--uib-dot-size) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  animation: jump var(--uib-speed) ease-in-out infinite;
  opacity: var(--uib-scale);
  will-change: transform;
  backface-visibility: hidden;
}

.jumping-dots-loader .dot::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
  transform: scale(var(--uib-scale));
  transition: background-color 0.3s ease;
}

.jumping-dots-loader .dot:nth-child(1) {
  --uib-bottom: 24%;
  --uib-right: -35%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d1));
}
.jumping-dots-loader .dot:nth-child(2) {
  --uib-bottom: 16%;
  --uib-right: -6%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d2));
}
.jumping-dots-loader .dot:nth-child(3) {
  --uib-bottom: 8%;
  --uib-right: 23%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}
.jumping-dots-loader .dot:nth-child(4) {
  --uib-bottom: -1%;
  --uib-right: 51%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}
.jumping-dots-loader .dot:nth-child(5) {
  --uib-bottom: 38%;
  --uib-right: -17.5%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d2));
}
.jumping-dots-loader .dot:nth-child(6) {
  --uib-bottom: 30%;
  --uib-right: 10%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}
.jumping-dots-loader .dot:nth-child(7) {
  --uib-bottom: 22%;
  --uib-right: 39%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}
.jumping-dots-loader .dot:nth-child(8) {
  --uib-bottom: 14%;
  --uib-right: 67%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}
.jumping-dots-loader .dot:nth-child(9) {
  --uib-bottom: 53%;
  --uib-right: -0.8%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d3));
}
.jumping-dots-loader .dot:nth-child(10) {
  --uib-bottom: 44.5%;
  --uib-right: 27%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}
.jumping-dots-loader .dot:nth-child(11) {
  --uib-bottom: 36%;
  --uib-right: 55.7%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}
.jumping-dots-loader .dot:nth-child(12) {
  --uib-bottom: 28.7%;
  --uib-right: 84.3%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d6));
}
.jumping-dots-loader .dot:nth-child(13) {
  --uib-bottom: 66.8%;
  --uib-right: 15%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d4));
}
.jumping-dots-loader .dot:nth-child(14) {
  --uib-bottom: 58.8%;
  --uib-right: 43%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d5));
}
.jumping-dots-loader .dot:nth-child(15) {
  --uib-bottom: 50%;
  --uib-right: 72%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d6));
}
.jumping-dots-loader .dot:nth-child(16) {
  --uib-bottom: 42%;
  --uib-right: 100%;
  animation-delay: calc(var(--uib-speed) * var(--uib-d7));
}

.jumping-dots-loader .dot:nth-child(3) {
  --uib-scale: 0.98;
}
.jumping-dots-loader .dot:nth-child(2),
.jumping-dots-loader .dot:nth-child(8) {
  --uib-scale: 0.96;
}
.jumping-dots-loader .dot:nth-child(1),
.jumping-dots-loader .dot:nth-child(7) {
  --uib-scale: 0.94;
}
.jumping-dots-loader .dot:nth-child(6),
.jumping-dots-loader .dot:nth-child(12) {
  --uib-scale: 0.92;
}
.jumping-dots-loader .dot:nth-child(5),
.jumping-dots-loader .dot:nth-child(11) {
  --uib-scale: 0.9;
}
.jumping-dots-loader .dot:nth-child(10),
.jumping-dots-loader .dot:nth-child(16) {
  --uib-scale: 0.88;
}
.jumping-dots-loader .dot:nth-child(9),
.jumping-dots-loader .dot:nth-child(15) {
  --uib-scale: 0.86;
}
.jumping-dots-loader .dot:nth-child(14) {
  --uib-scale: 0.84;
}
.jumping-dots-loader .dot:nth-child(13) {
  --uib-scale: 0.82;
}
